@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');

:root {
  --github-ash: #161B22;
  --github-coal: #0D1117;
  --github-grey: #C9D1D9;
  --github-white: #FFF; 
  --github-blue: #4078C0;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Cousine', monospace;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow: hidden;
}

body {
  background-color: var(--github-coal);
  background-image: url(./assets/background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 191px;
  overflow-x: hidden;
  overflow: hidden;
  position: relative;
  width: 800px;
  height: 600px;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 16px;
}

.row {
  width: 100%;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*

NAVIGATION BAR

*/
.nav__bar {
  background-color: var(--github-ash);
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
}

.logo__wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
}

.logo__anchor {
  display: flex;
  justify-content: center;
}

.logo {
  width: 48px;
  filter: invert();
}


/*

PAGE ONE

*/
.search__input {
  border: 1px solid var(--github-grey);
  border-radius: 6px;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  color: var(--github-grey);
  width: 69.25%;
  height: 40px;
  margin-top: 70px;
  padding: 8px 16px;
  display: block;
}

::placeholder {
  font-weight: 400;
  color: var(--github-white);
}


/*

PAGE TWO

*/
.loading__page {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Pure CSS Loader Library - Start*/
.lds-dual-ring {
  position: absolute;
  left: 290px;
  top: 104px;
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 144px;
  height: 144px;
  margin: 8px;
  border-radius: 50%;
  border: 12px solid var(--github-white);
  border-color: #C324FF transparent #2E64FF transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Pure CSS Loader Library - End*/

.loading__img {
  position: absolute;
  left: 35px;
  top: 35px;
  width: 112px;
  animation: heartbeat 1.0s linear alternate-reverse infinite;
}

.loading__text {
  position: absolute;
  left: 15%;
  top: 352px;
  font-size: 16px;
  font-weight: 400;
  color: var(--github-white);
  animation: heartbeat 1.0s linear alternate-reverse infinite;
}

@keyframes heartbeat {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/*

PAGE THREE

*/
.cards {
  border: 1px solid var(--github-grey);
  border-radius: 6px;
  width: 672px;
  margin-top: 36px;
  padding: 40px;
  display: none !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 267px;
  height: 318px;
  padding: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__content {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__avatar--wrapper {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.card__avatar {
  width: 100%;
  height: 100%;
  margin-bottom: 12px;
}

.card__name {
  font-size: 16px;
  font-weight: 700;
  color: var(--github-white);
}

.card__username {
  font-size: 12px;
  font-weight: 400;
  color: var(--github-white);
  margin-bottom: 12px;
}

.card__blog {
  font-size: 8px;
  font-weight: 700;
  color: var(--github-blue);
}

.card__bio {
  font-size: 10px;
  font-weight: 700;
}

.card__social--btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.card__social--btn {
  padding: 4px 8px;
}

.social__btn--icon__wrapper {
  width: 12px;
  height: 12px;
}

.social__btn--icon {
  width: 100%;
}

.social__btn--title {
  font-size: 8px;
  font-weight: 700;
  color: var(--github-white);
}




